html {
  --max-cell-size: 75px;
  --vertical-cells: 7;
  --horizontal-cells: 7;
  --available-game-field-height: 100px;

  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
  background-color: rgb(185, 175, 175);
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameFieldWrapper {
  margin: 16px 0;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.gameField {
  --cell-size-based-on-available-width: calc(100vw / var(--horizontal-cells));
  --cell-size-based-on-available-height: calc(
    var(--available-game-field-height) / var(--vertical-cells)
  );

  --calculated-cell-size: min(
    var(--cell-size-based-on-available-width),
    var(--cell-size-based-on-available-height)
  );

  background: white;
}

.gameField.won .cell_2::after,
.gameField.won .cell_8::after {
  content: "🥳";
}

.gameField.won .cell_3::after,
.gameField.won .cell_9::after {
  content: "🎁";
}

.row {
  display: flex;
  overflow: hidden;
}

.cell {
  --size: min(var(--calculated-cell-size), var(--max-cell-size));

  border: 1px solid #00000010;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--size) - 2px);
  height: calc(var(--size) - 2px);
  font-size: calc(var(--size) * 0.8);
}

.cell_1 {
  background: brown;
}

.cell_2::after,
.cell_8::after {
  content: "😃";
}

.cell_3::after,
.cell_9::after {
  content: "📦";
}

.cell_7,
.cell_8 {
  background: khaki;
}

.cell_9 {
  background: yellowgreen;
}
